includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - src/
        - resources/
        - tests/
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#    checkMissingIterableValueType: false
