parameters:
	ignoreErrors:
		-
			message: "#^Call to static method current\\(\\) on an unknown class Location\\.$#"
			count: 1
			path: resources/views/_pages/local/reviews.blade.php

		-
			message: "#^Cannot call method parameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: resources/views/_pages/local/reviews.blade.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$alt_text\\.$#"
			count: 1
			path: src/Data/BannerData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$banner_id\\.$#"
			count: 1
			path: src/Data/BannerData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$click_url\\.$#"
			count: 3
			path: src/Data/BannerData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$code\\.$#"
			count: 2
			path: src/Data/BannerData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$custom_code\\.$#"
			count: 1
			path: src/Data/BannerData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$image_code\\.$#"
			count: 2
			path: src/Data/BannerData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$type\\.$#"
			count: 2
			path: src/Data/BannerData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$distance\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$permalink_slug\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:availableOrderTypes\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:hasCollection\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:hasDelivery\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:listAvailablePayments\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getWeekDaysOptions\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getOrderType\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Data/LocationData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:\\$ingredients\\.$#"
			count: 1
			path: src/Data/MenuItemData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:\\$locations\\.$#"
			count: 3
			path: src/Data/MenuItemData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:\\$menu_options\\.$#"
			count: 1
			path: src/Data/MenuItemData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:\\$menu_price\\.$#"
			count: 1
			path: src/Data/MenuItemData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:\\$minimum_qty\\.$#"
			count: 1
			path: src/Data/MenuItemData.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:\\$special\\.$#"
			count: 2
			path: src/Data/MenuItemData.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Data/MenuItemData.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderDateTime\\(\\)\\.$#"
			count: 1
			path: src/Data/MenuItemData.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:keepSession\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Logout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:count\\(\\)\\.$#"
			count: 1
			path: src/Livewire/AccountSettings.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:keepSession\\(\\)\\.$#"
			count: 1
			path: src/Livewire/AccountSettings.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:total\\(\\)\\.$#"
			count: 1
			path: src/Livewire/AccountSettings.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Livewire/AccountSettings.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:queryModifierGetSorts\\(\\)\\.$#"
			count: 1
			path: src/Livewire/AddressBook.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 7
			path: src/Livewire/AddressBook.php

		-
			message: "#^Access to an undefined property Igniter\\\\Orange\\\\Livewire\\\\Booking\\:\\:\\$timeslots\\.$#"
			count: 1
			path: src/Livewire/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Support\\\\Facades\\\\File\\:\\:symbolizePath\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 3
			path: src/Livewire/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addCss\\(\\)\\.$#"
			count: 3
			path: src/Livewire/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 2
			path: src/Livewire/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 3
			path: src/Livewire/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\CaptchaSettings\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Livewire/Captcha.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:checkNoOrderTypeAvailable\\(\\)\\.$#"
			count: 1
			path: src/Livewire/CartBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:checkOrderTime\\(\\)\\.$#"
			count: 1
			path: src/Livewire/CartBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getById\\(\\)\\.$#"
			count: 1
			path: src/Livewire/CartBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Livewire/CartBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/Livewire/CartBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:setCurrent\\(\\)\\.$#"
			count: 1
			path: src/Livewire/CartBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 2
			path: src/Livewire/CartBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Livewire/CartItemModal.php

		-
			message: "#^Cannot call method search\\(\\) on array\\.$#"
			count: 1
			path: src/Livewire/CartItemModal.php

		-
			message: "#^Access to an undefined property Igniter\\\\Orange\\\\Livewire\\\\Checkout\\:\\:\\$paymentGateways\\.$#"
			count: 1
			path: src/Livewire/Checkout.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Classes\\\\BasePaymentGateway\\|Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$code\\.$#"
			count: 1
			path: src/Livewire/Checkout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Checkout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getOrderTypes\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Checkout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:userPosition\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Checkout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Checkout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Livewire/Checkout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Checkout.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Forms/BookingForm.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Forms/CheckoutForm.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:user\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Forms/SettingsForm.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:searchDeliveryArea\\(\\)\\.$#"
			count: 2
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:getCode\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:getLogs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:reverse\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getSession\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:putSession\\(\\)\\.$#"
			count: 2
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:searchByCoordinates\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 2
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Cannot call method setParameter\\(\\) on object\\|string\\.$#"
			count: 2
			path: src/Livewire/FulfillmentModal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Review\\:\\:whereReviewable\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LeaveReview.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addCss\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LeaveReview.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LeaveReview.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 3
			path: src/Livewire/LeaveReview.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:getLogs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:reverse\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getSession\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:putSession\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:searchByCoordinates\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Cannot call method setParameter\\(\\) on object\\|string\\.$#"
			count: 2
			path: src/Livewire/LocalSearch.php

		-
			message: "#^Access to an undefined property Igniter\\\\Orange\\\\Livewire\\\\LocationList\\:\\:\\$sorters\\.$#"
			count: 2
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:hasPermission\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:getLogs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:reverse\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getSession\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:putSession\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:searchByCoordinates\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:userPosition\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Location\\:\\:getOrderTypeOptions\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Location\\:\\:withCount\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocationList.php

		-
			message: "#^Cannot call method setParameter\\(\\) on object\\|string\\.$#"
			count: 2
			path: src/Livewire/LocationList.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Livewire/LocationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:check\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Login.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Login.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\Cart\\\\Models\\\\Menu\\>\\:\\:listFrontEnd\\(\\)\\.$#"
			count: 1
			path: src/Livewire/MenuItemList.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:queryModifierGetSorts\\(\\)\\.$#"
			count: 1
			path: src/Livewire/MenuItemList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Livewire/MenuItemList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/Livewire/MenuItemList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/MenuItemList.php

		-
			message: "#^Cannot call method parameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/Livewire/MenuItemList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 3
			path: src/Livewire/OrderPreview.php

		-
			message: "#^Cannot call method parameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/Livewire/OrderPreview.php

		-
			message: "#^Access to an undefined property Igniter\\\\User\\\\Models\\\\Customer\\:\\:\\$is_activated\\.$#"
			count: 1
			path: src/Livewire/Register.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:queryModifierGetSorts\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReservationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReservationList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReservationPreview.php

		-
			message: "#^Cannot call method parameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/Livewire/ReservationPreview.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Models\\\\Customer\\:\\:whereEmail\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ResetPassword.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Models\\\\Customer\\:\\:whereResetCode\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ResetPassword.php

		-
			message: "#^Cannot call method parameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/Livewire/ResetPassword.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\Local\\\\Models\\\\Review\\>\\:\\:isApproved\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReviewList.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getRatingOptions\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReviewList.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:queryModifierGetSorts\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReviewList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReviewList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addCss\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReviewList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/ReviewList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 1
			path: src/Livewire/Utils/Modal.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:check\\(\\)\\.$#"
			count: 1
			path: src/ServiceProvider.php

		-
			message: "#^Call to an undefined static method Livewire\\\\Component\\:\\:componentMeta\\(\\)\\.$#"
			count: 1
			path: src/ServiceProvider.php

		-
			message: "#^Call to an undefined static method Livewire\\\\Livewire\\:\\:componentHook\\(\\)\\.$#"
			count: 1
			path: src/ServiceProvider.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:count\\(\\)\\.$#"
			count: 1
			path: src/View/Components/AccountDashboard.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:total\\(\\)\\.$#"
			count: 1
			path: src/View/Components/AccountDashboard.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/View/Components/AccountDashboard.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\Frontend\\\\Models\\\\Banner\\>\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/View/Components/BannerPreview.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/View/Components/BannerPreview.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\Cart\\\\Models\\\\Category\\>\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/View/Components/CategoryList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Models\\\\Category\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/View/Components/CategoryList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 2
			path: src/View/Components/CategoryList.php

		-
			message: "#^Cannot call method parameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/View/Components/CategoryList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/View/Components/FeaturedItems.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getOrderType\\(\\)\\.$#"
			count: 1
			path: src/View/Components/Fulfillment.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderDateTime\\(\\)\\.$#"
			count: 1
			path: src/View/Components/Fulfillment.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderTimeIsAsap\\(\\)\\.$#"
			count: 1
			path: src/View/Components/Fulfillment.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\Local\\\\Models\\\\Review\\>\\:\\:isApproved\\(\\)\\.$#"
			count: 1
			path: src/View/Components/LocalHeader.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:queryModifierGetSorts\\(\\)\\.$#"
			count: 1
			path: src/View/Components/LocalHeader.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 2
			path: src/View/Components/LocalHeader.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addCss\\(\\)\\.$#"
			count: 2
			path: src/View/Components/LocalHeader.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Assets\\:\\:addJs\\(\\)\\.$#"
			count: 2
			path: src/View/Components/LocalHeader.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:whereCode\\(\\)\\.$#"
			count: 1
			path: src/View/Components/Nav.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:queryModifierGetSorts\\(\\)\\.$#"
			count: 1
			path: src/View/Components/OrderList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/View/Components/OrderList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\Slider\\:\\:lists\\(\\)\\.$#"
			count: 1
			path: src/View/Components/Slider.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\Slider\\:\\:whereCode\\(\\)\\.$#"
			count: 1
			path: src/View/Components/Slider.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getRatingOptions\\(\\)\\.$#"
			count: 1
			path: src/View/Components/StarRating.php
