:root {
  --logo-height: #{$logo-height};
  --navbar-top-bg: #{$navbar-top-bg};
  --navbar-link-color: #{$navbar-link-color};
  --footer-bg: #{$footer-bg};
  --footer-link-color: #{$footer-link-color};
}