html {
  position: relative;
  min-height: 100%;
}
html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: $font-size-base;
}
.hide {
  display: none !important;
}