.checkout-btn.closed {
  background-color: rgba($secondary, 0.25);
  border-color: transparent;
  color: $text-muted !important;
}
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
$affixSpacer: (strip-unit($spacer) * 5) * 16;
$affixLine: ($btn-line-height * 2) * 16;
.affix-cart {
  .affix-content {
    max-height: calc(100vh - #{$affixSpacer}px - #{$affixLine}px - 20px);
    overflow-x: auto;
  }
}

.cart-totals {
  .table {
    td {
      padding: 5px 0;
    }
  }
}
