.footer {
  width: 100%;
  color: $footer-link-color;
  background-color: $footer-bg;
  a {
    color: $footer-link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      font-weight: $font-weight-bold;
    }
  }
}
.footer-title {
  text-transform: uppercase;
  padding-bottom: 5px;
}
.footer-links {
  ul {
    margin: 0;
    padding: 0;
    display: block;
  }

  li {
    list-style: none;

    a {
      color: $footer-link-color;
    }
  }

  i {
    margin-right: 5px;
    color: #FF4900;
  }
}
