.navbar-top {
  background-color: $navbar-top-bg;

  .navbar-brand {
    padding: 0;

    .img-logo {
      height: $logo-height;
    }

    .text-logo {
      line-height: $logo-height;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-link-color;

      &.active {
        font-weight: $font-weight-bold;
      }
    }

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}
@include media-breakpoint-up(sm) {
  .navbar-top {
    padding: 0;

    .nav-link,
    .nav .navbar > li > a {
      padding: $spacer;
    }
  }
}
