.payments {
  .list-group-item {
    padding-top: 0;
    padding-bottom: 0;

    > .custom-control {
      padding-top: $list-group-item-padding-y;
      padding-bottom: $list-group-item-padding-y;
    }
  }
}
